.index {
  color: red;
}

.child .uuu::before {
  width: 200px;
}

.test {
  color: aliceblue;
}

#root {
  font-size: 20px;
}

.unless {
  color: blueviolet;
}

.master_anotherC {
  display: inline;
}
